<div id="regis-masivo" class="page-layout blank">
    <form [formGroup]="formGroup">
        <div fxLayout="row" fxLayoutAlign="left start" id="titulo">
            <h1>Registro de Requerimiento Masivo</h1>
        </div>
        <div id="contentMasivo">
            <div id="paso1">
                <div id="titulo1">
                    <div id="subtituto1">
                        <label id="caja1">1</label>
                    </div>
                    <div id="partitulo1">
                        <label id="parcaja1">Ingresar Tracking</label>
                    </div>
                </div>
                <div id="content1" *ngIf="isHidden1">
                    <mat-divider id="divider1" vertical></mat-divider>
                    <label id="tracking1">Excel Tracking</label>
                    <br>
                    <input type="text" name="fileToUpload1" id="upload1" [(ngModel)]="fileToUpload1" 
                    formControlName="fileToUpload1" placeholder="Upload file" matInput readonly>
                    <label for="file1" id="fileTracking1">
                        <mat-icon>cloud_upload</mat-icon>
                    </label>
                    <input type="file" id="file1" hidden="true" 
                    (change)="handleFileInput(1,$event)" accept=".xlsx,.xls">
                    <button mat-button class="button-color" id="siguiente1" mat-raised-button aria-label="SIGUIENTE" 
                    (click)="accionRegis(1)">
                        Siguiente
                    </button>
                </div>
            </div>
            <div id="paso2">
                <div id="titulo2">
                    <div id="subtituto2">
                        <label id="caja2">2</label>
                    </div>
                    <div id="partitulo2">
                        <label id="parcaja2">Descargue Archivos</label>
                    </div>
                </div>
                <div id="content2" *ngIf="isHidden2">
                    <mat-divider id="divider2" vertical></mat-divider>
                    <div class="archivo2">
                        <label class="tracking2">Req. Agregados Correctamente</label>
                        <input type="text" name="fileToUpload2" class="upload2" [(ngModel)]="fileToUpload2" 
                        formControlName="fileToUpload2" value="DocumentosNuevos.xlsx" matInput readonly>
                        <mat-icon class="icono2">insert_drive_file</mat-icon>
                        <a href="#" class="link2">Descargar</a>
                    </div>
                    <div class="archivo2">
                        <label class="tracking2">Req. Pendientes</label>
                        <input type="text" name="fileToUpload3" class="upload2" [(ngModel)]="fileToUpload3" 
                        formControlName="fileToUpload3" value="DocumentosPendientes.xlsx" matInput readonly>
                        <mat-icon class="icono2">insert_drive_file</mat-icon>
                        <a href="#" class="link2">Descargar</a>
                    </div>
                    <button mat-button class="button-color" id="siguiente2" mat-raised-button aria-label="SIGUIENTE" 
                    (click)="accionRegis(2)">
                        Siguiente
                    </button>
                </div>
            </div>
            <div id="paso3">
                <div id="titulo3">
                    <div id="subtituto3">
                        <label id="caja3">3</label>
                    </div>
                    <div id="partitulo3">
                        <label id="parcaja3">Ingrese Documento Final</label>
                    </div>
                </div>
                <div id="content3" *ngIf="isHidden3">
                    <mat-divider id="divider3" vertical></mat-divider>
                    <label id="tracking3">Documento Final</label>
                    <br>
                    <input type="text" name="fileToUpload4" id="upload3" [(ngModel)]="fileToUpload4" 
                    formControlName="fileToUpload4" placeholder="Documento Final" matInput readonly>
                    <label for="file3" id="fileTracking3">
                        <mat-icon>cloud_upload</mat-icon>
                    </label>
                    <input type="file" id="file3" hidden="true" 
                    (change)="handleFileInput(4,$event)" accept=".xlsx,.xls">
                    <button mat-button class="button-color" id="finalizar3" mat-raised-button aria-label="FINALIZAR" 
                    (click)="accionRegis(3)">
                        Finalizar
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
