<div id="dialogDelete">
    <div>
        <h1>Esta seguro de eliminar el adjunto</h1>
    </div>
    
    <div >
        <mat-dialog-actions>
            <button id="buttons" mat-raised-button color="accent"
            mat-dialog-close mat-dialog-close="true" aria-label="LOG IN" >
                SI
            </button>
            <button id="buttons"  mat-raised-button color="accent"
            mat-dialog-close mat-dialog-close="false" aria-label="LOG IN" >
                NO
            </button>
        </mat-dialog-actions>
        
    </div>
    

</div>
