@import "src/@fuse/scss/fuse";

#nuevo-empleado {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;

    #card-principales {
        margin-top: 15px;
        width: 100%;
        float: left;
    }
    #card-adjuntos {
        margin-top: 15px;
        width: 100%;
        float: left;
        padding-top: 0px;
    }
    #datosPersonales {
        width: 100%;
        float: left;
        margin-bottom: 15px;
        border-style: solid;
        border-color: rgb(0, 162, 206);
        border-width: unset;
    }
    #contratoEmpresa {
        width: 100%;
        float: left;
        margin-bottom: 15px;
        border-style: solid;
        border-color: rgb(0, 162, 206);
        border-width: unset;
        padding-bottom: 0px;
    }
    #card-estadoCivil {
        width: 68%;
        padding-top: 23px;
        border-style: solid;
        border-color: rgb(0, 162, 206);
        border-width: unset;
    }
    #card-genero {
        width: 45.5%;
        border-style: solid;
        border-color: rgb(0, 162, 206);
        border-width: unset;
    }
    #titulo {
        width: 90.5%;
        float: left;
    }
    #regresar {
        width: 9%;
        float: left;
        padding-top: 15px;
        padding-left: 2.9%;
    }
    .tipeDocument1 {
        width: 67%;
        float: left;
    }
    .tipeDocumento11 {
        width: 100%;
        float: left;
    }
    #usuario{
        width: 32.8%;
        float: left;
    }
    #tipoDocumento {
        width: 50%;
        float: left;
        padding-right: 1%;
    }
    #numeroDocumento {
        width: 50%;
        float: left;
        padding-left: 1%;
    }
    #apellidoPaterno {
        width: 50%;
        float: left;
        padding-right: 1%;
    }
    #apellidoMaterno {
        width: 50%;
        float: left;
        padding-left: 1%;
    }
    #imageCarnet {
        width: 33%;
        float: left;
        padding-left: 2%;
    }
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    #nombre {
        width: 67%;
        float: left;
    }
    #fechaNacimiento {
        width: 33%;
        float: left;
        padding-left: 2%;
    }
    #correoPersonal {
        width: 67%;
        float: left;
    }
    #telefonoPersonal {
        width: 33%;
        float: left;
        padding-left: 2%;
    }
    #correoEmpresarial {
        width: 67%;
        float: left;
    }
    #telefonoEmpresarial {
        width: 33%;
        float: left;
        padding-left: 2%;
    }
    #direccion {
        width: 100%;
        float: left;
    }
    #mapa {
        width: 100%;
        float: left;
    }
    /*agm-map {
        height: 300px;
      }
      a {
        color: darkblue;
      }
      
      * {
        font-family: Lato;
      }
    
    */
    #example-section1 {
        padding-top: 0x;
    }
    #example-margin1 {
        padding-right: 60px;
    }
    .example-padding1 {
        padding-right: 49px;
    }
    #example-section2 {
        padding-top: 0px;
    }
    #example-margin2 {
        padding-right: 88px;
    }
    .example-padding2 {
        padding-right: 30px;
    }
    #estadoCivil {
        width: 67%;
        float: left;
    }
    #hijos {
        width: 33%;
        float: left;
        padding-left: 2%;
    }
    #genero {
        width: 100%;
        float: left;
    }
    #contrato {
        width: 100%;
        float: left;
    }
    #fechaContrato {
        width: 100%;
        float: left;
    }
    #fechaContratoStatus {
        width: 67%;
        float: left;
    }
    #fechaIngreso {
        width: 50%;
        float: left;
        padding-right: 1%;
    }
    #fechaTermino {
        width: 50%;
        float: left;
        padding-left: 1%;
    }
    #puesto {
        width: 50%;
        float: left;
        padding-right: 1%;
    }
    #horario {
        width: 50%;
        float: left;
        padding-left: 1%;
    }
    #estado {
        width: 33%;
        float: left;
        padding-left: 2%;
    }
    #siguiente1 {
        width: 50%;
        float: left;
        padding-right: 1%;
    }
    #siguienteButton {
        float: right;
    }
    #limpiar1 {
        width: 50%;
        float: left;
        padding-left: 1%;
    }
    #limpiarButton {
        float: left;
    }
    #adjuntoP1 {
        width: 100%;
        float: left;
    }
    #adjuntoP2 {
        width: 100%;
        float: left;
    }
    #card1 {
        width: 100%;
        float: left;
        border-style: solid;
        border-color: rgb(0, 162, 206);
        border-width: unset;
    }
    #tipoDocumentoSubmit {
        width: 20%;
        float: left;
        padding-right: 2.5%;
    }
    #descripcionDocumento {
        width: 60%;
        float: left;
        padding-right: 2.5%;
        padding-left: 2.5%;
    }
    #fileTracking1 {
        float: left;
        padding-top: 4%;
        padding-left: 10px;
    }
    .dropzone {
        width: 60%;
        float: left;
        padding: 2rem;
        text-align: center;
        border: dashed 1px #979797;
        position: relative;
        margin: 0 auto;
    }
    #drowseFile {
        color: white;
        width: 183px;
        border-radius: 21.5px;
        background-color: gray;
        padding: 8px;
    }
    #agregarOpcion {
        width: 20%;
        padding-top: 1.5%;
        float: left;
        padding-left: 1.8%;
    }
    #adjuntoP3 {
        width: 100%;
        float: left;
    }
    table {
        width: 100%;
    }
    .mat-header-cell,
    .mat-sort-header {
        background-color: rgb(0, 162, 206);
        font-size: 16px;
        color: white;
    }
    .mat-tab-label {
        min-width: 25px !important;
        padding: 5px;
        background-color: transparent;
        color: rgb(0, 162, 206);
        font-weight: 700;
    }
    .mat-tab-label.mat-tab-label-active {
        min-width: 25px !important;
        padding: 5px;
        background-color: blue;
        color: white;
        font-weight: 700;
    }
    #siguiente2 {
        width: 50%;
        float: left;
        padding-right: 1%;
        padding-top: 25px;
    }
    #limpiar2 {
        width: 50%;
        float: left;
        padding-left: 1%;
        padding-top: 25px;
    }
    .mat-form-field-appearance-outline .mat-form-field-outline {
        color: rgb(0, 162, 206) !important;
    }
    .mat-form-field-appearance-outline.mat-focused
        .mat-form-field-outline-thick {
        color: gray !important;
    }
    .new-button {
        background: rgb(0, 162, 206);
        color: white;
    }
    .new-button:hover {
        background: blue;
        color: white;
    }
    .classTrue{
        color: white;
        width: 183px;
        border-radius: 21.5px;
        
        padding: 8px;
        background-color: green;
    }
    .classFalse{
        color: white;
        width: 183px;
        border-radius: 21.5px;
       
        padding: 8px;
        background-color: gray;
    }
    
}
