<div id="horas-buscar" class="page-layout blank">
    <mat-card id="horas-buscar-mat-card">
        <form [formGroup]="formGroup">
            <div id="horas-buscar-filtros">
                <div fxLayout="row" fxLayoutAlign="left start" id="horas-titulo">
                    <h1>Administrar Horas Extras</h1>
                </div>
                <div id="horas-registrar">
                    <button class="horas-button" mat-raised-button color="primary" aria-label="REGISTRAR"
                        (click)="registrarHorasExtras()">
                        Registrar
                    </button>
                </div>
                <mat-card id="horas-buscar-filtros-mat-card">
                    <div id="horas-filtros">
                        <div class="horas-todos">
                            <div fxLayout="row" fxLayoutAlign="left start" id="horas-nombres-apellidos">
                                <mat-form-field appearance="outline" fxFlex>
                                    <mat-label>Colaborador</mat-label>
                                    <input matInput type="text" [formControl]="myControl" [matAutocomplete]="auto"
                                    [(ngModel)]="colaborador" formControlName="colaborador">
                                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                                        <mat-option (click)="OnColaboradorSelected(colaborador)" *ngFor="let option of filteredOptions | async" [value]="option">
                                            {{option.name}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </div>
                            <div fxLayout="row" fxLayoutAlign="left start" id="horas-estado">
                                <mat-form-field appearance="outline" fxFlex>
                                    <mat-label>Estado</mat-label>
                                    <mat-select [(ngModel)]="estado" formControlName="estado">
                                        <mat-option value="">-Seleccione-</mat-option>
                                        <mat-option *ngFor="let est of estados" [value]="est.estado">
                                            {{est.estado}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="horas-todos">
                            <div fxLayout="row" fxLayoutAlign="left start" id="horas-fecha">
                                <mat-form-field appearance="outline" fxFlex>
                                    <mat-label>Fecha Registro Inicial</mat-label>
                                    <input matInput type="date" [(ngModel)]="fecha" formControlName="fecha">
                                </mat-form-field>
                            </div>
                            <div fxLayout="row" fxLayoutAlign="left start" id="horas-acumuladas">
                                <mat-form-field appearance="outline" fxFlex>
                                    <mat-label>Horas Acumuladas</mat-label>
                                    <input matInput type="number" [(ngModel)]="hora" formControlName="hora">
                                </mat-form-field>
                            </div>
                        </div>
                        <div id="buscar">
                            <button class="horas-button" mat-raised-button color="primary" aria-label="BUSCAR"
                                (click)="buscarHorasExtras()">
                                Buscar
                            </button>
                        </div>
                        <div id="limpiar">
                            <button class="horas-button" mat-raised-button color="primary" aria-label="LIMPIAR"
                                (click)="limpiarHorasExtras()">
                                Limpiar
                            </button>
                        </div>
                    </div>
                </mat-card>
            </div>
            <div class="horas-todos">
                <div id="confirmar">
                    <button class="horas-button" mat-raised-button aria-label="CONFIRMAR" (click)="opcion(1)">
                        Confirmar
                    </button>
                </div>
                <div id="rechazar">
                    <button class="horas-button" mat-raised-button aria-label="RECHAZAR" (click)="opcion(2)">
                        Rechazar
                    </button>
                </div>
                <div id="modificar">
                    <button class="horas-button" [disabled]="modHidden" mat-raised-button aria-label="MODIFICAR" (click)="opcion(3)">
                        Modificar
                    </button>
                </div>
            </div>
            <div id="horas-registros">
                <mat-paginator style="float: left;" style-paginator [length]="datos.data.length" [pageSize]="5"
                    [pageSizeOptions]="[5, 10, 25, 100]" [showFirstLastButtons]="true">
                </mat-paginator>
                <table mat-table [dataSource]="datos" class="mat-elevation-z8" matSort>

                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                    </ng-container>

                    <ng-container matColumnDef="nombre">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Colaborador </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.nombre + ' ' + element.apePaterno + ' ' + element.apeMaterno}} </td>
                    </ng-container>

                    <ng-container matColumnDef="fecha">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
                        <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
                    </ng-container>

                    <ng-container matColumnDef="horaInicial">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Hora Inicial </th>
                        <td mat-cell *matCellDef="let element"> {{element.horaInicial}} </td>
                    </ng-container>

                    <ng-container matColumnDef="horaFinal">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Hora Final </th>
                        <td mat-cell *matCellDef="let element"> {{element.horaFinal}} </td>
                    </ng-container>

                    <ng-container matColumnDef="estado">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
                        <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef>
                            <mat-checkbox color="warn" [disabled]="false" (change)="$event ? masterToggle() : null"
                                (change)="checkValue1($event)" [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()"
                                [aria-label]="checkboxLabel()">
                            </mat-checkbox>
                        </th>
                        <td mat-cell *matCellDef="let row; let i = index;">
                            <mat-checkbox color="warn" (click)="$event.stopPropagation();"  (change)="checkValue($event, row, i)"
                                (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"
                                [aria-label]="checkboxLabel(row)">
                            </mat-checkbox>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="columnas"></tr>
                    <tr mat-row *matRowDef="let element; columns: columnas;"></tr>
                </table>
            </div>
        </form>
    </mat-card>
</div>