<div>
    <div class="agregar" *ngIf="operation.name == 'agregar'">
        <div id="titulo" mat-dialog-title>
            <h1>Agregar</h1>
            <button mat-icon-button class="close" (click)="onNoClick()"><mat-icon class="secondary-text">close</mat-icon></button>
        </div>
        <mat-form-field class="add-input" appearance="outline">
            <mat-label>Descripción</mat-label>
            <input matInput type="text" >
        </mat-form-field>
        <div>
            <button mat-raised-button class="button-color" aria-label="GUARDAR" >
                Guardar
            </button>
        </div>  
    </div>
    <div class="editar" *ngIf="operation.name == 'editar'">
        <h1 id="titulo">Editar horas Requerimiento</h1>
        <button mat-icon-button class="close" (click)="onNoClick()"><mat-icon class="secondary-text">close</mat-icon></button>
        <mat-form-field class="edit-input" appearance="outline" >
            <mat-label>Horas</mat-label>
            <input matInput type="text" [(ngModel)]="horas" value="{{operation.element.total}}">
        </mat-form-field>
        <div class="edit-button">
            <button mat-raised-button class="button-color" (click)="editarGuardar()" aria-label="GUARDAR" >
                Guardar
            </button>
        </div>  
    </div>
</div>