<div id="searchVacation" class="page-layout blank">
    <mat-card>
        <form [formGroup]="formGroup">

            <div fxLayout="row">
                <div fxLayoutAlign="left start" id="titulo">
                    <h1>Administrar Solicitud de Vacaciones</h1>
                </div>
                <div id="agregar">
                    <button id="buttonColor" [routerLink]="'/apps/vacation/manageVacation'" mat-button mat-raised-button
                        color="primary" aria-label="Nuevo">
                        Registrar
                    </button>
                </div>
            </div>
            <mat-card id="adminVacation">
                <div fxLayout="row">
                    <div fxLayoutAlign="left start" id="inputEmploye">
                        <mat-form-field appearance="outline" fxFlex>
                            <mat-label>Colaborador</mat-label>
                            <input type="text" name="empleado" placeholder="Seleccione" aria-label="Number" matInput
                                [formControl]="myControl" [matAutocomplete]="auto">
                            <mat-autocomplete #auto="matAutocomplete">
                                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                    {{option}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>

                    <div fxLayoutAlign="left start" id="estado">
                        <mat-form-field appearance="outline" fxFlex>
                            <mat-label>Estado</mat-label>
                            <mat-select formControlName="estado" required>
                                <mat-option >-Seleccione-</mat-option>
                                <mat-option *ngFor="let est of lstVacationState" value="{{est.parameterPk}}">
                                    {{est.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div fxLayout="row">

                    <div id="fechaInicial">
                        <mat-form-field appearance="outline" fxFlex>
                            <mat-label>Fecha Registro Inicial</mat-label>
                            <input matInput type="date" [ngModel]='startVacation | date:"yyyy-MM-dd"' formControlName="endVacation" required>
                            <mat-error>
                                Es necesario la fecha inicial
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div id="fechaFinal">
                        <mat-form-field appearance="outline" fxFlex>
                            <mat-label>Fecha Registro Final</mat-label>
                            <input matInput type="date" [ngModel]='endVacation | date:"yyyy-MM-dd"' formControlName="endVacation" required>
                            <mat-error>
                                Es necesario colocar la fecha final
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div fxLayoutAlign="left start" id="vacationGoz">
                        <mat-form-field appearance="outline" fxFlex>
                            <mat-label>Vacaciones por gozar</mat-label>
                            <input type="number" matInput [(ngModel)]="dayRequest" formControlName="dayRequest" required>
                        </mat-form-field>
                    </div>
                </div>
                <div fxLayout="row">
                    <div id="buttonSearch">
                        <button id="buttonColor" mat-button mat-raised-button color="primary" aria-label="Nuevo">
                            Buscar
                        </button>
                    </div>
                    <div id="buttonClean">
                        <button id="buttonColor" mat-button mat-raised-button color="primary" aria-label="Nuevo">
                            Limpiar
                        </button>
                    </div>
                </div>
            </mat-card>
        </form>
            <div id="buttons" fxLayout="row">
                <div id="buttonConfirm">
                    <button id="buttonColor" mat-button mat-raised-button color="primary" aria-label="Nuevo">
                        Confirmar
                    </button>
                </div>
                <div id="buttonRefuse">
                    <button id="buttonColor" mat-button mat-raised-button color="primary" aria-label="Nuevo">
                        Rechazar
                    </button>
                </div>
                <div>
                    <button id="buttonColor" mat-button mat-raised-button color="primary" aria-label="Nuevo">
                        Modificar
                    </button>
                </div>
            </div>

            <div id="vacation">

                <mat-paginator style="float: left;" style-paginator [length]="datos.data.length" [pageSize]="5"
                    [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons>
                </mat-paginator>
                <table  mat-table [dataSource]="datos" class="mat-elevation-z8" matSort>

                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef> Id </th>
                        <td mat-cell *matCellDef="let element"> {{element.employeeFk}} </td>
                    </ng-container>

                    <ng-container matColumnDef="employe">
                        <th mat-header-cell *matHeaderCellDef> Colaborador </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="fechaInicial">
                        <th id="fecha" mat-header-cell *matHeaderCellDef> FechaInicial </th>
                        <td mat-cell *matCellDef="let element">
                            <mat-form-field appearance="outline" Style="width: 80%;">
                                <input matInput fxFlex [matDatepicker]="vacationDatePicker"
                                    formControlName="startVacation" placeholder="{{element.startVacation}}"
                                    name="element.startVacation"  [(ngModel)]="element.startVacation"  matInput
                                    disabled="{{element.disabled}}">
                                <mat-datepicker-toggle matSuffix [for]="vacationDatePicker"
                                    disabled="{{element.disabled}}">
                                </mat-datepicker-toggle>
                                <mat-datepicker #vacationDatePicker></mat-datepicker>
                            </mat-form-field>
                        </td>

                    </ng-container>

                    <ng-container matColumnDef="fechaFinal">
                        <th mat-header-cell *matHeaderCellDef> FechaFinal </th>
                        <td mat-cell *matCellDef="let element">
                            <mat-form-field appearance="outline" Style="width: 80%;">
                                <input matInput fxFlex [matDatepicker]="vacationDatePicker"
                                    formControlName="endVacation" placeholder="{{element.endVacation}}"
                                    name="element.endVacation" [(ngModel)]="element.endVacation" matInput
                                    disabled="{{element.disabled}}">
                                <mat-datepicker-toggle matSuffix [for]="vacationDatePicker"
                                    disabled="{{element.disabled}}">
                                </mat-datepicker-toggle>
                                <mat-datepicker #vacationDatePicker></mat-datepicker>
                            </mat-form-field>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="cantDias">
                        <th mat-header-cell *matHeaderCellDef> Cant.dias </th>
                        <td mat-cell *matCellDef="let element">{{element.dayRequest}}</td>
                    </ng-container>
                    <ng-container matColumnDef="estado">
                        <th mat-header-cell *matHeaderCellDef> Estado </th>
                        <td mat-cell *matCellDef="let element">{{element.state}}</td>
                    </ng-container>
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef>
                            <mat-checkbox (change)="$event ? masterToggle() : null"
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()"
                                [aria-label]="checkboxLabel()">
                            </mat-checkbox>
                        </th>
                        <td mat-cell *matCellDef="let row">
                            <mat-checkbox (click)="$event.stopPropagation();" 
                                (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"
                                [aria-label]="checkboxLabel(row)">
                            </mat-checkbox>
                        </td>
                    </ng-container>
                    <!--<mat-checkbox>Check me!</mat-checkbox>-->
                    <tr mat-header-row *matHeaderRowDef="columnas"></tr>
                    <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
                </table>

            </div>
        
    </mat-card>
</div>