@import "src/@fuse/scss/fuse";
@import "node_modules/angular-calendar/scss/angular-calendar";
.cal-month-view {

    .cal-header {

        .cal-cell {
            font-weight: 600;
        }
    }


    .cal-open-day-events {
        box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.54);
        padding: 0;
        display: flex;
        flex-direction: column;

        > div {
            padding: 0 16px;
            margin: 8px 16px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
           
            transition: box-shadow 300ms ease;

            &:first-of-type {
                margin-top: 16px;
            }

            &:last-of-type {
                margin-bottom: 16px;
            }

            

            .cal-event {
                top: 0;
                margin: 0;
            }

            mwl-calendar-event-title {
                flex: 1;

                .cal-event-title {
                    display: block;
                    padding: 21px 24px;
                    line-height: 1;
                    text-decoration: none;
                }
            }

            mwl-calendar-event-actions {

                .cal-event-actions {
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    .cal-event-action {
                        display: block;
                        line-height: 1;
                        padding: 8px;
                    }
                }
            }

        }
    }
}

.cal-week-view {

    .cal-header > b {
        font-weight: 600;
    }

    .cal-event {
        display: flex;
        flex-direction: row;
        align-items: center;

        mwl-calendar-event-title {
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            flex: 1;
            order: 0;

            .cal-event-title {
                display: block;
                line-height: 1;
                text-decoration: none;
            }
        }

        mwl-calendar-event-actions {
            order: 1;

            .cal-event-actions {
                display: flex;
                flex-direction: row;
                align-items: center;

                .cal-event-action {
                    display: block;
                    line-height: 1;
                    padding: 8px;
                }
            }
        }
    }
}

.cal-day-view {

    .cal-time {
        font-weight: 600;
    }

    .cal-event {
        display: flex;
        flex-direction: row;

        mwl-calendar-event-title {
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            flex: 1;
            order: 0;

            .cal-event-title {
                display: block;
                height: 26px;
                line-height: 26px;
                text-decoration: none;
            }
        }

        mwl-calendar-event-actions {
            order: 1;

            .cal-event-actions {
                display: flex;
                flex-direction: row;
                align-items: center;

                .cal-event-action {
                    display: block;
                    line-height: 1;
                    padding: 4px;
                }
            }
        }
    }

    .cal-hour-segment {

        &:after,
        &::after {
            content: '' !important;
        }
    }
}

#calendarAssistance{
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 30px;
    padding-bottom: 5%;
    #inputEmploye{
        width: 50%;
        float: left;
        padding-right: 5%;
    }
    #horasTotal{
        padding-top: 2%;
        padding-left: 5%;
    }
}