@import "src/@fuse/scss/fuse";
#manageVacation{
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 30px;
    #titulo{
        width: 80%;
        float: left;
        padding-right: 20%;
    }
    #back{
        width: 20%;
        float: left;
        padding-left: 10%;
        padding-top: 15px;
    }
    #inputEmploye{
        width: 70%;
        float: left;
    }
    #adminVacation{
        border-style: solid;
        border-color: rgb(0, 162, 206);
        border-width: unset;
        margin-bottom: 2%;
    }
  
    #selectSolicitud{
        width: 30%;
        float: left;  
        padding-left: 5%;
    }
    #fechaInicial{
        width: 35%;
        float: left;
        padding-right: 5%;
    }
    #fechaFinal{
        width: 40%;
        float: left;
        padding-right: 5%;
    }
    #diasSoli{
        width: 25%;
        float: left;
    }
    #add{
        width: 30%;
        float: left;
    }
    #tableVacation{
        width: 100%;
        padding-top: 2%;
        padding-bottom: 2%;
    }
    table{
        width: 100%;
    }
    #buttonColor{
        background-color: rgb(0, 162, 206);
    }
    #buttonRegist{
        width: 30%;
        float: right;
        padding-left: 35%;
        padding-top: 5%;
    }
    #buttonClean{
        padding-left: 15%;
        width: 30%;
        float: right;
        padding-top: 5%;
    }

    .mat-header-cell,
    .mat-sort-header {
        background-color: rgb(0, 162, 206);
        font-size: 16px;
        color: white;
    }

    .mat-form-field-appearance-outline .mat-form-field-outline {
        color: rgb(0, 162, 206) !important;
     }
}

