<div id="manageVacation" class="page-layout blank" >
    <form [formGroup]="formGroup">
    <mat-card>
     
        <div fxLayout="row">
            <div fxLayoutAlign="left start" id="titulo">
                <h1>Registrar Solicitud de Vacaciones</h1>
            </div>
            <div id="back">
                <button id="buttonColor" [routerLink]="'/apps/vacation/searchVacation'" mat-button  mat-raised-button color="primary" aria-label="Nuevo">
                    <mat-icon>refresh</mat-icon>
                </button>
                
            </div>
        </div>
        <mat-card id="adminVacation">
            <div  fxLayout="row">
                <div  fxLayoutAlign="left start" id="inputEmploye">
                    <mat-form-field appearance="outline" fxFlex>
                        <mat-label>Colaborador</mat-label>
                        <input type="text" 
                         placeholder="Seleccione" aria-label="Number" 
                         formControlName="name" matInput 
                         
                         [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete"  >
                          <mat-option *ngFor="let option of filteredOptions | async" [value]="option" >
                            {{option}}
                          </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
                <!--<div  fxLayoutAlign="left start" id="selectSolicitud" >
                    <mat-form-field appearance="outline" fxFlex>
                        <mat-label>Tipo de Solicitud</mat-label>
                        <mat-select name="document" required>
                            <mat-option value="0">-Seleccione-</mat-option>
                            <mat-option value="1">Dni</mat-option>
                            <mat-option value="2">Pasaporte</mat-option>
                            <mat-option value="3">Carnet</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>-->
            </div>
            <div  fxLayout="row">
                <div  id="fechaInicial">
                    <mat-form-field appearance="outline" fxFlex>
                        <mat-label>Inicio Vacaciones</mat-label>
                        <input matInput type="date" [ngModel]='startVacation | date:"yyyy-MM-dd"' formControlName="startVacation" required>
                        <mat-error>
                            Es necesario colocar la contraseña actual
                        </mat-error>
                    </mat-form-field>
                </div>
                <div  id="fechaFinal">
                    <mat-form-field appearance="outline" fxFlex>
                        <mat-label>Fin Vacaciones</mat-label>
                        <input matInput type="date" [ngModel]='endVacation | date:"yyyy-MM-dd"' formControlName="endVacation" required>
                        <mat-error>
                            Es necesario colocar la contraseña actual
                        </mat-error>
                    </mat-form-field>
                </div>
                <div  fxLayoutAlign="left start" id="diasSoli">
                    <mat-form-field appearance="outline" fxFlex >
                        <mat-label>Dias Solicitados</mat-label>
                        <input type="number" matInput [(ngModel)]="dayRequest" formControlName="dayRequest" required>
                        <mat-error>
                            Name is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </mat-card>
            <div fxLayout="row">
                <div id="add">
                    <button  id="buttonColor" mat-button  mat-raised-button color="primary" 
                    (click)="onCreateVacation()" aria-label="Nuevo">
                        Agregar
                    </button>
                </div>  
            </div>
            <div id="tableVacation">
                <mat-paginator style="float: left;" style-paginator [length]="datos.data.length" [pageSize]="5"
                    [pageSizeOptions]="[5, 10, 25, 100]" [showFirstLastButtons]="true">
                </mat-paginator>
                <table mat-table [dataSource]="datos" class="mat-elevation-z8">
        
                    <ng-container matColumnDef="fechaInicial">
                        <th mat-header-cell *matHeaderCellDef> Fecha Inicial </th>
                        <td mat-cell *matCellDef="let element"  >{{ element.startVacation | date: 'dd/MM/yyyy' }}</td>
                    </ng-container>
        
                    <ng-container matColumnDef="fechaFinal">
                        <th mat-header-cell *matHeaderCellDef> Fecha Final </th>
                        <td mat-cell *matCellDef="let element"> {{element.endVacation | date: 'dd/MM/yyyy'}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="cantDias">
                        <th mat-header-cell *matHeaderCellDef> Cant. Dias </th>
                        <td mat-cell *matCellDef="let element">{{element.dayRequest}}</td>
                    </ng-container>
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef> Actions </th>
                        <td mat-cell *matCellDef="let element">
                            <mat-icon>clear</mat-icon>
                            <!--<a href="#">{{element.actions}}</a> -->
                        </td>
                    </ng-container>
                    
                    <tr mat-header-row *matHeaderRowDef="columnas"></tr>
                    <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
                </table>
            </div>
            <div  fxLayout="row">
                <div id="buttonRegist">
                    <button id="buttonColor"  mat-button  mat-raised-button color="primary" aria-label="regist">
                        Registrar
                    </button>
                </div>
                <div id="buttonClean">
                    <button id="buttonColor"  mat-button  mat-raised-button color="primary" aria-label="clean">
                        Limpiar
                    </button>
                </div>
            </div>  
    </mat-card>
</form>
</div>