<div id="registry-request" class="page-layout blank">
    <mat-tab-group #tabGroup (selectedIndexChange)="selectedIndexChange($event)">
        <mat-tab label="Formulario de Registro" id="formularioR">
            <mat-card id="card">
            <form [formGroup]="formGroup">
                <div fxLayout="row" fxLayoutAlign="left start" id="registry">
                    <h1>Requerimientos</h1>
                </div>
                <div id="regresar">
                    <button mat-button class="button-color" mat-raised-button aria-label="REGRESAR"
                        (click)="regresar()">
                        <mat-icon>refresh</mat-icon>
                    </button>
                </div>
                <div fxLayout="row" fxLayoutAlign="left start" id="codigo">
                    <mat-form-field appearance="outline" fxFlex>
                        <mat-label>Código</mat-label>
                        <input name="codigo" formControlName="codigo" [(ngModel)]="codigo" matInput>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="left start" id="cliente">
                    <mat-form-field appearance="outline" fxFlex>
                        <mat-label>Cliente</mat-label>
                        <mat-select name="cliente" formControlName="cliente" [(ngModel)]="cliente">
                            <mat-option value="">-Seleccione-</mat-option>
                            <mat-option *ngFor="let cli of clientes" value="{{cli.cliente}}">
                                {{cli.cliente}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="left start" id="estado">
                    <mat-form-field appearance="outline" fxFlex>
                        <mat-label>Estado</mat-label>
                        <mat-select name="estado" formControlName="estado" [(ngModel)]="estado">
                            <mat-option value="">-Seleccione-</mat-option>
                            <mat-option *ngFor="let est of estados" value="{{est.estado}}">
                                {{est.estado}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="left start" id="descripcion">
                    <mat-form-field appearance="outline" fxFlex>
                        <mat-label>Descripción</mat-label>
                        <input name="descripcion" formControlName="descripcion" [(ngModel)]="descripcion" matInput>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="left start" id="fechaCreacion">
                    <mat-form-field appearance="outline" fxFlex>
                        <mat-label>Fecha de Creación</mat-label>
                        <!--<input name="fechaCreacion" formControlName="fechaCreacion" [(ngModel)]="fechaCreacion" matInput>-->
                        <input matInput [matDatepicker]="assistanceDatePicker" name="fechaCreacion"
                            formControlName="fechaCreacion" [(ngModel)]="fechaCreacion" matInput>
                        <mat-datepicker-toggle matSuffix [for]="assistanceDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #assistanceDatePicker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="left start" id="indicadorContable">
                    <mat-form-field appearance="outline" fxFlex>
                        <mat-label>Indicador Contable</mat-label>
                        <mat-select name="indicador" formControlName="indicador" [(ngModel)]="indicador">
                            <mat-option value="">-Seleccione-</mat-option>
                            <mat-option *ngFor="let ind of indicadores" value="{{ind.indicador}}">
                                {{ind.indicador}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="left start" id="centroCosto">
                    <mat-form-field appearance="outline" fxFlex>
                        <mat-label>Centro Costo</mat-label>
                        <input name="centro" formControlName="centro" [(ngModel)]="centro" matInput>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="left start" id="sistema">
                    <mat-form-field appearance="outline" fxFlex>
                        <mat-label>Sistema</mat-label>
                        <mat-select name="sistema" formControlName="sistema" [(ngModel)]="sistema">
                            <mat-option value="">-Seleccione-</mat-option>
                            <mat-option *ngFor="let sist of sistemas" value="{{sist.sistema}}">
                                {{sist.sistema}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="left start" id="componente">
                    <mat-form-field appearance="outline" fxFlex>
                        <mat-label>Componente</mat-label>
                        <input name="componente" formControlName="componente" [(ngModel)]="componente" matInput>
                    </mat-form-field>
                </div>
                <div fxLayout="row" class="textarea-wrapper" fxLayoutAlign="left start" id="detalle">
                    <mat-form-field appearance="outline" fxFlex>
                        <mat-label>Detalle</mat-label>
                        <textarea name="detalle" formControlName="detalle" [(ngModel)]="detalle" matInput type="text"
                            max-rows="20" matInput></textarea>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="left start" id="horasDesarrollo">
                    <mat-form-field appearance="outline" fxFlex>
                        <mat-label>Horas Desarrollo</mat-label>
                        <input type="number" name="desarrollo" formControlName="desarrollo" [(ngModel)]="desarrollo" matInput>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="left start" id="horasQa">
                    <mat-form-field appearance="outline" fxFlex>
                        <mat-label>Horas QA</mat-label>
                        <input type="number" name="qa" formControlName="qa" [(ngModel)]="qa" matInput>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="left start" id="horasDevops">
                    <mat-form-field appearance="outline" fxFlex>
                        <mat-label>Gestión de Configuración</mat-label>
                        <input type="number" name="devops" formControlName="devops" [(ngModel)]="devops" matInput>
                    </mat-form-field>
                </div>
                <div id="guardar">
                    <button mat-button class="button-color" mat-raised-button aria-label="GUARDAR"
                        (click)="guardar()">
                        Guardar
                    </button>
                </div>
                <div id="limpiar">
                    <button mat-button class="button-color" mat-raised-button aria-label="LIMPIAR"
                        (click)="limpiarInputs()">
                        Limpiar
                    </button>
                </div>
            </form>
        </mat-card>
        </mat-tab>
        <mat-tab label="Horas" id="formularioH">
            <mat-card id="card">
            <div fxLayout="row" fxLayoutAlign="left start" id="titulo">
                <h1>Destalle de Horas</h1>
            </div>
            <div id="regresar">
                <button mat-button class="button-color" mat-raised-button aria-label="REGRESAR"
                    (click)="regresar()">
                    <mat-icon>refresh</mat-icon>
                </button>
            </div>
            <div class="chart-wrapper" id="graficoHoras">
                <canvas baseChart 
                [data]="datosDetalleHoras"
                [labels]="labelDetalleHoras"
                [chartType]="tipoDetalleHoras">
              </canvas>
            </div>
            <div id="graficoDatos">
                <div fxLayout="row" fxLayoutAlign="left start" id="consumidas">
                    <mat-form-field appearance="outline" fxFlex>
                        <mat-label>Consumidas</mat-label>
                        <input type="number" name="consumidas" [(ngModel)]="consumidas" readonly matInput>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="left start" id="restantes">
                    <mat-form-field appearance="outline" fxFlex>
                        <mat-label>Restantes</mat-label>
                        <input type="number" name="restantes" [(ngModel)]="restantes" readonly matInput>
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="left start" id="titulo1">
                <h1>Horas</h1>
            </div>
            <div id="add">
                <button mat-icon-button (click)="addRow()">
                    <mat-icon class="secondary-text">add_box</mat-icon>
                </button>
            </div>
            <div id="horas">
                <div class="mat-elevation-z8">
                    <table mat-table [dataSource]="datos">
                        <ng-container matColumnDef="dia">
                            <th mat-header-cell *matHeaderCellDef id="diaH1"> Día </th>
                            <td mat-cell *matCellDef="let element" id="diaH">
                                <mat-form-field style="width: 120px;padding-right: 20px;" appearance="outline" fxFlex>
                                    <input matInput [matDatepicker]="assistanceDatePicker" placeholder="Día"
                                        name="element.dia" [(ngModel)]="element.dia" matInput>
                                    <mat-datepicker-toggle matSuffix [for]="assistanceDatePicker">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #assistanceDatePicker></mat-datepicker>
                                </mat-form-field>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="detalle">
                            <th mat-header-cell *matHeaderCellDef id="detalleH1"> Detalle </th>
                            <td mat-cell *matCellDef="let element" id="detalleH">
                                <mat-form-field style="width: 540px;padding-right: 20px;" appearance="outline" fxFlex>
                                    <input matInput name="element.detalleH" [(ngModel)]="element.detalleH" placeholder="Detalle">
                                </mat-form-field>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="hora">
                            <th mat-header-cell *matHeaderCellDef id="horaH1"> Horas </th>
                            <td mat-cell *matCellDef="let element" id="horaH">
                                <mat-form-field style="width: 50px;padding-right: 20px;" appearance="outline" fxFlex>
                                    <input matInput name="element.hora" [(ngModel)]="element.hora" placeholder="Horas" type="number">
                                </mat-form-field>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="tipo">
                            <th mat-header-cell *matHeaderCellDef id="tipoH1"> Tipo </th>
                            <td mat-cell *matCellDef="let element" id="tipoH">
                                <mat-form-field style="width: 50px;padding-right: 20px;" appearance="outline" fxFlex>
                                    <input matInput name="element.tipo" [(ngModel)]="element.tipo" placeholder="Tipo">
                                </mat-form-field>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="act">
                            <th mat-header-cell *matHeaderCellDef id="actH1">
                                Act.
                            </th>
                            <td mat-cell *matCellDef="let element; let i = index;" id="actH">
                                <button mat-icon-button (click)="registRow(element,i)">
                                    <mat-icon class="secondary-text">check</mat-icon>
                                </button>
                                <button mat-icon-button (click)="deleteRow(element,i)">
                                    <mat-icon class="secondary-text">clear</mat-icon>
                                </button>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="columnas"></tr>
                        <tr mat-row *matRowDef="let element; columns: columnas;"></tr>
                    </table>
                    <mat-paginator #horasPorAprobarMatPaginator [pageSizeOptions]="[5,10,25,100]"></mat-paginator>
                </div>
            </div>
            <div id="guardar1">
                <button mat-button class="button-color"
                mat-raised-button aria-label="REGISTRAR"
                (click)="guardar()">
                    Registrar
                </button>
            </div>
            <div id="limpiar1">
                <button mat-button class="button-color" 
                mat-raised-button aria-label="LIMPIAR"
                (click)="limpiar1()">
                    Limpiar
                </button>
            </div>
            </mat-card>
        </mat-tab>
    </mat-tab-group>
</div>