<div id="horas-registrar" class="page-layout blank">
    <mat-card id="horas-registrar-mat-card">
        <form [formGroup]="formGroup">
            <div fxLayout="row" fxLayoutAlign="left start" id="horas-titulo">
                <h1>Registrar Horas Extras</h1>
            </div>
            <div id="horas-regresar">
                <button class="horas-button" mat-raised-button color="primary" aria-label="REGRESAR"
                    (click)="regresarBuscarHorasExtras()">
                    <mat-icon>refresh</mat-icon>
                </button>
            </div>
            <div id="horas-registrar-agregar">
                <mat-card id="horas-registrar-agregar-mat-card">
                    <div id="horas-agregar">
                        <div class="horas-todos">
                            <div fxLayout="row" fxLayoutAlign="left start" id="horas-colaborador">
                                <mat-form-field appearance="outline" fxFlex>
                                    <mat-label>Colaborador</mat-label>
                                    <mat-select [(ngModel)]="colaborador" formControlName="colaborador">
                                        <mat-option value="">-Seleccione-</mat-option>
                                        <mat-option *ngFor="let col of colaboradores" [value]="col.colaborador">
                                            {{col.colaborador}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div fxLayout="row" fxLayoutAlign="left start" id="horas-fecha">
                                <mat-form-field appearance="outline" fxFlex>
                                    <mat-label>Fecha</mat-label>
                                    <input matInput type="date" [(ngModel)]="fecha" formControlName="fecha">
                                </mat-form-field>
                            </div>
                            <div fxLayout="row" fxLayoutAlign="left start" id="horas-consumo">
                                <mat-form-field appearance="outline" fxFlex>
                                    <mat-label>Consumo</mat-label>
                                    <mat-select [(ngModel)]="consumo" formControlName="consumo">
                                        <mat-option value="">-Seleccione-</mat-option>
                                        <mat-option *ngFor="let con of consumos" [value]="con.consumo">
                                            {{con.consumo}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="horas-todos">
                            <div class="hora-todos-medium">
                                <div fxLayout="row" fxLayoutAlign="left start" id="horas-inicio">
                                    <mat-form-field appearance="outline" fxFlex>
                                        <mat-label>Inicio</mat-label>
                                        <input matInput type="time" [(ngModel)]="horaInicio"
                                            formControlName="horaInicio">
                                    </mat-form-field>
                                </div>
                                <div fxLayout="row" fxLayoutAlign="left start" id="horas-fin">
                                    <mat-form-field appearance="outline" fxFlex>
                                        <mat-label>Fin</mat-label>
                                        <input matInput type="time" [(ngModel)]="horaFin" formControlName="horaFin">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="hora-todos-medium">
                                <div fxLayout="row" fxLayoutAlign="left start" id="horas-motivo">
                                    <mat-form-field appearance="outline" fxFlex>
                                        <mat-label>Motivo</mat-label>
                                        <input matInput type="text" [(ngModel)]="motivo" formControlName="motivo">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-card>
            </div>
            <div class="horas-todos">
                <div id="agregarHorasExtrasNuevas">
                    <button class="horas-button" mat-raised-button color="primary" aria-label="AGREGAR"
                        (click)="agregarHorasExtras()">
                        <mat-icon>cloud_upload</mat-icon>
                    </button>
                </div>
            </div>
            <div id="horas-registros">
                <mat-paginator style="float: left;" style-paginator [length]="datos.data.length" [pageSize]="5"
                    [pageSizeOptions]="[5, 10, 25, 100]" [showFirstLastButtons]="true">
                </mat-paginator>
                <table mat-table [dataSource]="datos" class="mat-elevation-z8" matSort>
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef>
                            <mat-checkbox color="warn" [disabled]="false" (change)="$event ? masterToggle() : null"
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()"
                                [aria-label]="checkboxLabel()">
                            </mat-checkbox>
                        </th>
                        <td mat-cell *matCellDef="let row; let i = index;">
                            <mat-checkbox color="warn" (click)="$event.stopPropagation();"
                                (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"
                                [aria-label]="checkboxLabel(row)">
                            </mat-checkbox>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="motivo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Motivo </th>
                        <td mat-cell *matCellDef="let element"> {{element.motivo}} </td>
                    </ng-container>

                    <ng-container matColumnDef="fecha">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
                        <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
                    </ng-container>

                    <ng-container matColumnDef="inicio">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Inicio </th>
                        <td mat-cell *matCellDef="let element"> {{element.horaInicial}} </td>
                    </ng-container>

                    <ng-container matColumnDef="fin">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fin </th>
                        <td mat-cell *matCellDef="let element"> {{element.horaFinal}} </td>
                    </ng-container>

                    <ng-container matColumnDef="total">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Total </th>
                        <td mat-cell *matCellDef="let element"> {{element.horaTotal}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="columnas"></tr>
                    <tr mat-row *matRowDef="let element; columns: columnas;"></tr>
                </table>
            </div>
            <div id="registrar">
                <button class="horas-button" mat-raised-button color="primary" aria-label="REGISTRAR"
                    (click)="registrarHorasExtras()">
                    Registrar
                </button>
            </div>
            <div id="limpiar">
                <button class="horas-button" mat-raised-button color="primary" aria-label="LIMPIAR"
                    (click)="limpiarHorasExtras()">
                    Limpiar
                </button>
            </div>
        </form>
    </mat-card>
</div>