<div id="searchEmploye" class="page-layout blank">
    <mat-card id="buscarPrincil">
        <form [formGroup]="formGroup">
            <div id="buscarColaborador">
                <div fxLayout="row">
                    <div fxLayoutAlign="left start" id="titulo">
                        <h1>Búsqueda de Colaboradores</h1>
                    </div>
                    <div id="nuevo">
                        <button class="search-button" mat-raised-button color="primary" aria-label="NUEVO"
                            (click)="nuevoColaborador()">
                            Nuevo
                        </button>
                    </div>
                </div>
                <mat-card id="busqueda-colaboradores">
                    <div id="filtros">
                        <div fxLayout="row" fxLayoutAlign="left start" id="tipoDocumento">
                            <mat-form-field appearance="outline" fxFlex>
                                <mat-label>Tipo de Documento</mat-label>
                                <mat-select  formControlName="tipoDocumento">
                                    <mat-option >-Seleccione-</mat-option>
                                    <mat-option *ngFor="let tpd of tipeDocument" value="{{tpd.parameterPk}}">
                                        {{tpd.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="left start" id="numDocumento">
                            <mat-form-field appearance="outline" fxFlex>
                                <mat-label>N° Documento</mat-label>
                                <input matInput [(ngModel)]="documento" formControlName="documento">
                            </mat-form-field>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="left start" id="estado">
                            <mat-form-field appearance="outline" fxFlex>
                                <mat-label>Estado</mat-label>
                                <mat-select   formControlName="estado">
                                    <mat-option >-Seleccione-</mat-option>
                                    <mat-option *ngFor="let est of tipeEstado" value="{{est.parameterPk}}">
                                        {{est.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="left start" id="name">
                            <mat-form-field appearance="outline" fxFlex>
                                <mat-label>Nombres</mat-label>
                                <input matInput [(ngModel)]="nombres" formControlName="nombres">
                            </mat-form-field>
                        </div>
                        <div id="buscar">
                            <button class="search-button" mat-raised-button color="primary" aria-label="BUSCAR"
                                (click)="buscarEmpleado()">
                                Buscar
                            </button>
                        </div>
                        <div id="limpiar">
                            <button class="search-button" mat-raised-button color="primary" aria-label="LIMPIAR"
                                (click)="limpiarEmpleado()">
                                Limpiar
                            </button>
                        </div>
                    </div>
                </mat-card>
            </div>
            <div id="modificar">
                <button class="search-button" mat-raised-button [disabled]="modHidden" color="primary" aria-label="MODIFICAR"
                (click)="modificarEmpleado()">
                    Modificar
                </button>
            </div>

            <div id="registros">
                <mat-paginator style="float: left;" style-paginator [length]="datos.data.length" [pageSize]="5"
                    [pageSizeOptions]="[5, 10, 25, 100]" [showFirstLastButtons]="true">
                </mat-paginator>
                <table mat-table [dataSource]="datos" class="mat-elevation-z8" matSort>

                    <ng-container matColumnDef="tipoDocumento">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo Documento </th>
                        <td mat-cell *matCellDef="let element"> {{element.documentType}} </td>
                    </ng-container>

                    <ng-container matColumnDef="documento">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Documento </th>
                        <td mat-cell *matCellDef="let element"> {{element.documentNumber}} </td>
                    </ng-container>

                    <ng-container matColumnDef="nombre">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="puesto">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Puesto </th>
                        <td mat-cell *matCellDef="let element"> {{element.employeeGrade}} </td>
                    </ng-container>

                    <ng-container matColumnDef="estado">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
                        <td mat-cell *matCellDef="let element"> {{element.state}} </td>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef>
                            <mat-checkbox color="warn" [disabled]="false" (change)="$event ? masterToggle() : null"
                                (change)="checkValue1($event)" [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()"
                                [aria-label]="checkboxLabel()">
                            </mat-checkbox>
                        </th>
                        <td mat-cell *matCellDef="let row; let i = index;">
                            <mat-checkbox color="warn" (click)="$event.stopPropagation();"  (change)="checkValue($event, row, i)"
                                (change)="$event ? selection.toggle(row) : null" 
                                [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                            </mat-checkbox>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="columnas"></tr>
                    <tr mat-row *matRowDef="let element; columns: columnas;"></tr>
                </table>
            </div>
        </form>
    </mat-card>
</div>