<div id="controlVacation" class="page-layout blank" >
    <mat-card>
        <div fxLayout="row">
            <div fxLayoutAlign="left start" id="titulo">
                <h1>Control de Vacaciones</h1>
            </div>
        </div>
        <form [formGroup]="formGroup">
            <div  fxLayout="row">
                <div  fxLayoutAlign="left start" id="inputEmploye">
                    <mat-form-field appearance="outline" fxFlex >
                        <mat-label>Empleado</mat-label>
                        <input matInput>
                        <mat-error>
                            Name is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div fxLayoutAlign="left start" id="estado">
                    <mat-form-field appearance="outline" fxFlex>
                        <mat-label>Estado</mat-label>
                        <mat-select name="document" required>
                            <mat-option value="0">-Seleccione-</mat-option>
                            <mat-option value="1">Activo</mat-option>
                            <mat-option value="2">Inactivo</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="row">
                <div id="buttonSearch">
                    <button  id="buttonColor" mat-button  mat-raised-button color="primary" aria-label="Nuevo">
                        Buscar
                    </button>
                </div>
                <div id="buttonClean">
                    <button  id="buttonColor" mat-button  mat-raised-button color="primary" aria-label="Nuevo">
                        Limpiar
                    </button>
                </div> 
            </div>
            <div fxLayout="row">
                <div id="add">
                    <button  id="buttonColor" mat-button  mat-raised-button color="primary" aria-label="Nuevo">
                        Refrescar
                    </button>
                </div>
            </div>
            <div id="tableVacation">
                <mat-paginator
                    style="float: left;"
                    style-paginator [length]="datos.data.length" 
                    [pageSize]="5"
                    [pageSizeOptions]="[5, 10, 25, 100]"
                    [showFirstLastButtons]="true">
                    </mat-paginator>
                <table mat-table [dataSource]="datos" class="mat-elevation-z8">
        
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef>ID </th>
                        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="empleado">
                        <th mat-header-cell *matHeaderCellDef> Empleado</th>
                        <td mat-cell *matCellDef="let element"> {{element.empleado}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="fechaContratacion">
                        <th mat-header-cell *matHeaderCellDef> Fecha de Contratacion </th>
                        <td mat-cell *matCellDef="let element">{{element.fechaContra}}</td>
                    </ng-container>
                    <ng-container matColumnDef="tiempoTrabajo">
                        <th mat-header-cell *matHeaderCellDef> Tiempo de Trabajo </th>
                        <td mat-cell *matCellDef="let element">{{element.timeWork}}</td>
                    </ng-container>
                    <ng-container matColumnDef="vacacionesAcumuladas">
                        <th mat-header-cell *matHeaderCellDef> Vacaciones Acumuladas </th>
                        <td mat-cell *matCellDef="let element">{{element.accumulateVacation}}</td>
                    </ng-container>
                    <ng-container matColumnDef="vacacionesGozadas">
                        <th mat-header-cell *matHeaderCellDef> Vacaciones Gozadas </th>
                        <td mat-cell *matCellDef="let element">{{element.enjoyedVacation}}</td>
                    </ng-container>
                    <ng-container matColumnDef="vacacionesPorGozar">
                        <th mat-header-cell *matHeaderCellDef> Vacaciones por Gozar </th>
                        <td mat-cell *matCellDef="let element">{{element.enjoyedForVacation}}</td>
                    </ng-container>
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef>
                            <mat-checkbox [disabled]="false"
                                          (change)="$event ? masterToggle() : null"
                                          (change)="checkValue1($event)"
                                          [checked]="selection.hasValue() && isAllSelected()"
                                          [indeterminate]="selection.hasValue() && !isAllSelected()"
                                          [aria-label]="checkboxLabel()">
                            </mat-checkbox>
                          </th>
                          <td mat-cell *matCellDef="let row; let i = index;">
                            <mat-checkbox (click)="$event.stopPropagation();"
                                          (change)="checkValue($event, row, i)" 
                                          (change)="$event ? selection.toggle(row) : null"
                                          [checked]="selection.isSelected(row)"
                                          [aria-label]="checkboxLabel(row)">
                            </mat-checkbox>
                          </td>
                    </ng-container>
                    
                    <tr mat-header-row *matHeaderRowDef="columnas"></tr>
                    <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
                </table>
            </div>
        </form>
    </mat-card>
</div>