<div>
    <div class="agregar" *ngIf="operation.name == 'agregar'">
        <div id="titulo" mat-dialog-title>
            <h1>Agregar</h1>
            <button mat-icon-button class="close" (click)="onNoClick()"><mat-icon class="secondary-text">close</mat-icon></button>
        </div>
        <mat-form-field class="add-input" appearance="outline" [formGroup]="contactForm" (ngSubmit)="onSaveForm()">
            <mat-label>Descripción</mat-label>
            <input matInput type="text" formControlName="numDoc">
        </mat-form-field>

        <!--<form [formGroup]="contactForm" (ngSubmit)="onSaveForm()">
            <label class="labelI">Descripción</label>
            <input type="text" formControlName="numDoc">
        </form>-->
        <div>
            <button mat-raised-button color="accent" aria-label="LOG IN" >
                Guardar
            </button>
        </div>  
    </div>
    <div class="editar" *ngIf="operation.name == 'editar'">
        <h1 id="titulo">Editar</h1>
        <button mat-icon-button class="close" (click)="onNoClick()"><mat-icon class="secondary-text">close</mat-icon></button>
        <mat-form-field class="edit-input" appearance="outline" [formGroup]="contactForm" (ngSubmit)="onSaveForm()">
            <mat-label>Descripción</mat-label>
            <input matInput type="text" formControlName="numDoc" value={{operation.animal}}>
        </mat-form-field>
        <!--<form [formGroup]="contactForm" (ngSubmit)="onSaveForm()">
            <label class="labelI">Descripción</label>
            <input type="text" formControlName="numDoc" value={{operation.animal}}>
        </form>-->
        <div class="edit-button">
            <button mat-raised-button color="accent" aria-label="LOG IN" >
                Editar
            </button>
        </div>  
    </div>
</div>